
.authentication__container{
  color:#ffffff;
  padding: 40% 20%;

}


.registration__container{
   color:#ffffff;
   padding: 20% 20%;
 }


.authentication__aside{
  border-top-left-radius: 60%;
  border-bottom-left-radius: 60%;
  background: $blue;
}

.authentication__image{
  margin-left: 25%;
  margin-top: 20%;
  max-width: 70%;
  max-height: 70%;
  height: auto;
}

.sign__in{
  color: white;
}

.sign__in:hover{
  color: white;
}

//like and dislike icons


