$font-family-base: 'Poppins', Helvetica, sans-serif;
$article-body-font: 'Rubik', Helvetica, sans-serif;
$background: #ffffff;
$blue:#4c59ed;
$dark-grey:#c51244;
$light-grey:#c8cfca;
$light-blue:#e4f0f7;
$large-font-size:20px;
$medium-font-size:14px;
$small-font-size:12px;
