/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand .header {
    color: #212529;
}

.nav-item {
    margin-right: 30px;
}

.small-font {
    font-size: $small-font-size;
}
.btn {
    margin-right: 20px;
}

.collapse .navbar-collapse .navbar-nav .mr-auto {
    max-width: 10px;
}

/* search button*/

.active-cyan-2 input[type='text']:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.form-control .mr-sm-2 .small-font {
    font-size: 12px;
    color: yellow;
}

.navbar--right {
    display: flex;
    justify-content: flex-end;
}

/*Login and register links*/

.authentication__login--link {
    color: black;
    text-decoration: none;
}

.authentication__login--link:hover {
    color: #ffffff;
    text-decoration: none;
}

.authentication__register--link:hover {
    text-decoration: none;
    color: white;
}
.btn-outline-primary {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: $small-font-size;
    color: $blue;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid $blue;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-outline-primary:hover {
    text-decoration: none;
    color: white;
    background: $blue;
    border: 2px solid $blue;
}

/* Profile buttons */


.profile-button{
    margin-right: 30px;
}

.dropdown-toggle {
    background: $background;
    color: $background;
    border: 1px solid #ececec;
    padding: 10px 1000px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 0;
    margin: 0;
}

.dropdown-toggle:hover {
    background: $background;
    color: $background;
    border: 1px solid #ececec;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 0;
    margin: 0;
}

#avatar-icon {
    background: $background;
    color: $light-grey;
    vertical-align: -25%;
    font-size: 35px;
}

#avatar-icon:hover {
    background: $background;
    color: $light-grey;
}
#avatar-image-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#avatar {
    color: white;
    background: white;
}

